/* =============== Callouts ================ */
body {
    --callout-title-padding: 5px 10px;
    --callout-content-padding: 10px;
    --callout-padding: 0px;
    --callout-title-size: 0.98em;
    --callout-bug: var(--color-pink-rgb);
    --callout-blend-mode: normal !important;
}

.callout {
    border: 1px rgba(var(--callout-color), var(--c-30)) solid;

    p {
        margin: 0px !important;
    }
}

.callout-title {
    gap: 1em;
    border-radius: var(--callout-radius) var(--callout-radius) 0px 0px;
}

.callout.is-collapsible:not(.is-collapsed) .callout-title {
    border-bottom: 1px rgba(var(--callout-color), var(--c-30)) solid;
}

.callout.is-collapsed .callout-title {
    border-radius: var(--callout-radius);
}

.callout-title-inner {
    font-weight: normal;
}

.callout-content {
    font-family: var(--font-secondary);
    font-size: var(--font-small);
    border-radius: 0px 0px var(--callout-radius) var(--callout-radius);
}

/* code mirror formatting */
.cm-formatting-quote {
    color: var(--text-muted) !important;
    font-style: normal !important;
}

.cm-hmd-callout {
    color: var(--text-accent) !important;
    border-radius: var(--radius-s);
    font-weight: bold !important;
}

.HyperMD-quote-1 {
    font-style: italic;

    .cm-em {
        font-style: normal;
    }
}

.HyperMD-callout .cm-quote-1 {
    font-style: normal;
}