/* ================= highlights ============== */
.markdown-rendered mark,
.cm-highlight {
    padding: 0 0.35em 0 0.5em;
    border-radius: 0.35em 0.8em;
    font-family: var(--font-secondary);
}

.cm-active .cm-highlight {
    border-radius: 0;
}

mark:not([class*=hltr]),
.cm-highlight {
    background: linear-gradient(to left, hsla(var(--color-accent-hsl), 0.15), hsla(var(--color-accent-hsl), 0.4));
    background-color: transparent !important;
}

.theme-light {

    mark:not([class*=hltr]),
    .cm-highlight {
        color: hsl(var(--accent-h), var(--accent-s), 30%, 1);
    }
}

.theme-dark {

    mark:not([class*=hltr]),
    .cm-highlight {
        color: hsl(var(--accent-h), var(--accent-s), 90%, 1);
    }
}

.search-result-file-matched-text,
.suggestion-highlight {
    background-color: transparent !important;
    text-underline-offset: auto;
    text-decoration-color: var(--text-accent) !important;
    text-decoration: underline 2px;
    font-family: var(--font-secondary);
}